page-login {
  .login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding: 30% 0;

    .logo{
      padding-bottom: 30px;
    }

    .inputs{
      padding-bottom: 20px;
    }

    .login-button{
      width: 90%;

      button {
          background: #ed2225;
      }
    }
  }

  ion-item{
    padding-left: 0 !important;
  }
}
