<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="login-form">
    <div class="logo">
      <img src="assets/imgs/mylogo.png" alt="">
    </div>
    <div class="inputs">
      <ion-item>
        <ion-label>
          <ion-icon name="ios-mail"></ion-icon>
        </ion-label>
        <ion-input clearInput type="text" #email></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon name="ios-key"></ion-icon>
        </ion-label>
        <ion-input clearInput type="password" #password></ion-input>
      </ion-item>
    </div>
    <div class="login-button">
      <button ion-button block (click)="login(email.value, password.value)">Login</button>
    </div>
  </div>
</ion-content>
