<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 style="text-align: center;">
    Bem vindo :)
  </h2>
  <button ion-button block (click)="logout()">
    Logout
  </button>
</ion-content>
